{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}Project{% endblock %}

{% block head %}<h1>Project</h1>{% endblock %}

{% block content %}
<div class="itemGroup">
    <div>
        <br>
        <!-- กำหนด path ไปยังหน้า form สร้าง project -->
        <a href="{% url 'project_form' %}"><button class="newemp">New Project</button></a>
      </div>
    
      <!-- for loop แสดงผลข้อมูล project -->
    {% for project in projects %}
    <div class="item">
        <div>{{project.id}}. {{project.name}}</div>
        <div>{{project.start_date}} - {{project.due_date}}</div>

        <div class="action">
            <!-- กำหนด path ให้ถูกต้อง ไปยังหน้า project detail -->
            <a href="{% url 'project_form_edit' project.id %}" class="edit btn">แก้ไข</a>

            <button type="submit" onclick="deleteProject({{project.id}}, '{{csrf_token}}')" class="delete">Delete</button>  
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock %}

{% block script%}{% static 'project.js '%}{% endblock %}

