{% extends "layout.html" %}

{% block title %}Position{% endblock %}

{% block head%}<h1>Position</h1>{% endblock %}

{% block content %}
<div class="itemGroup">
    {% for position in position_list %}
    <div class="item">
        <!-- position id และ ชื่อตำแหน่ง -->
        <div>{{position.id}}. {{position.name}}</div>
        <!-- จำนวนพนักงานทั้งหมด -->
        <div class="action">{{position.employee_count}} People</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

<body>

</body>

</html>